.containerReg {
    margin-top: 100px;
    display: grid;
    gap: 20px;

    /* ! */
    grid-template-columns: 1200px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.nameLabelInputButtonReg {
    font-size: 26px;
    font-family: 'Arial', 'Verdana', sans-serif;
    font-style: italic;
}
.nameButtonReg {
    font-size: 26px;
    font-family: 'Arial', 'Verdana', sans-serif;
    font-style: italic;

}
.checkboxReg {
    margin-top: 20px;
    display: grid;
    gap: 20px;

    /* ! */
    grid-template-columns: 200px 200px 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.RegistrationName {
    text-align: center;
    margin-right: 45%;
    margin-left: 45%;
    font-size: 26px;
    font-family: 'Arial', 'Verdana', sans-serif;
    font-style: oblique;
    font-weight: bold;
}